@font-face {
    font-family: harry;
    src: url(HARRY__.TTF) format(true type contornos);
}


* {
    font-family: "harry";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(imagens/2862101.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.logo img {
    margin-top: 20px;
    width: 90px;
}

.flex {
    display: flex;
}


/*estilo do cabeçalho*/
header {
    padding: 2px 4%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

header a {
    color: #eeeeee;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
    font-family:"harry", sans-serif; 

}

header nav.menu-desktop a:hover {
    color: #FFc500;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;

}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;
}

/*estilo do menu mobile*/
.btn-abrir-menu {
    display: none;
}

.btn-abrir-menu i {
    color: #FFc500;
    font-size: 40px;
}

.menu-mobile {
    background-color: #7f0909;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile.abrir-menu {
    width: 70%;
}

.menu-mobile.abrir-menu~.overlay-menu {
    display: block;
}

.menu-mobile .btn-fechar {
    padding: 20px 5%;
}

.menu-mobile .btn-fechar i {
    color: #FFc500;
    font-size: 30px;
}

.menu-mobile nav ul {
    text-align: right;
}

.menu-mobile nav ul li a {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav ul li a:hover {
    background-color: #FFc500;
    color: #000;
}

.overlay-menu {
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}



/*estilo topo do site */
section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site.flex {
    align-items: center;
    justify-content: center;
    gap: 90px;

}

.topo-do-site h1 {
    font-family: "harry", serif;
    color: #fff;
    font-size: 42px;
    line-height: 40px;
    justify-content: center;
    margin-top: 10px; /* Ajuste conforme necessário */
}

.topo-do-site h1 span {
    font-family: "harry", serif;
    color: #FFc500;
}



.livro {
    position: relative;
    display: inline-block;
    margin: 10px;

}

.livro img {
    width: 110px;
    margin-top: 100px; /* Ajuste conforme necessário */
    margin-left: 10px;
    transition: transform 0.3s ease-in-out;
}
.livro .resumo {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 20px;
    font-size: 12px;
    box-sizing: content-box;
    top: -20px; /* Ajuste conforme necessário */
}

.livro:hover .resumo {
    display: block;
}

.livro:hover img {
    transform: scale(1.2);
}


.imagem img {
    width: 100px;
    margin-bottom: -180px;
    margin-left: 700px;
}


footer {
    font-family: "harry", serif;
    background-color: #D3A625;
    color: #fff;
    padding: 10px;
    margin-top: 199px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .interface {
        max-width: 90%; /* Reduza ainda mais a largura para a resolução de 768px */
    }

    .topo-do-site h1 {
        font-size: 1.5em; /* Ajuste conforme necessário para resolução de 768px */
        padding: 20px; /* Ajuste conforme necessário para resolução de 768px */
    }

    .livro img {
        width: 100%; /* Ajuste conforme necessário para resolução de 768px */
        margin-top: 2em; /* Ajuste conforme necessário para o espaçamento desejado */
        margin-left: 0; /* Certifique-se de que não há margem à esquerda */
    }

    .livro .resumo {
        padding: 0.3em; /* Ajuste conforme necessário para resolução de 768px */
        font-size: 0.7em; /* Ajuste conforme necessário para resolução de 768px */
        top: -0.3em; /* Ajuste conforme necessário para resolução de 768px */
    }

    footer {
        margin-top: auto; /* Define a margem superior como automática para garantir que o conteúdo não ultrapasse */
    }
}



@media screen and (max-width: 1013px) {

    body {
        background-image: url(imagens/2862101.jpg);
        background-size: cover;
        height: 100h;
    }

    /*classes gerais*/
    .flex {
        flex-direction: column;
    }


    /*cabecalho*/

    .menu-desktop,
    .btn-contato {
        display: none;
    }

    .logo img {
        margin-top: 20px;
        height: 80px;
    }

    /*topo do site*/
    section.topo-do-site .flex {
        gap: 40px;
    }

    .topo-do-site h1 {
        font-size: 30px;
        padding: 40px;
        margin-left: 50px;
        margin-top: -60px;

    }

    .btn-abrir-menu {
        display: block;
    }

    .livro img {
        margin-top: -40px;
        margin-bottom: 40px;

    }
    

    .livro .resumo {
        height: 50px;
        padding: 20px 4%;

    }

    .imagem img {
        width: 80px;
    }


    footer {
        background-color: #D3A625;
        color: #fff;
        padding: 20px;
        text-align: center;
    }
}
@media screen and (max-width: 1024px) {
    body {
        background-image: url(imagens/2862101.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 100vh;
        margin: 0; /* Remover a margem padrão do corpo */
        display: flex;
        flex-direction: column;
    }

    .interface {
        max-width: 80%; /* Reduza ainda mais a largura para a resolução de 1024px */
        margin: auto; /* Centraliza a interface */
    }

    .topo-do-site h1 {
        font-size: 2em; /* Ajuste conforme necessário */
        left: 8em;
    }

    .livro img {
        width: 80%; /* Ajuste conforme necessário para resolução de 1024px */
        margin-top: 4em; /* Ajuste conforme necessário para o espaçamento desejado */
        margin-left: 1em;
    }

    .livro .resumo {
        padding: 0.5em; /* Ajuste conforme necessário para resolução de 1024px */
        font-size: 0.7em; /* Ajuste conforme necessário para resolução de 1024px */
        top: -0.5em; /* Ajuste conforme necessário para resolução de 1024px */
    }

    footer {
        font-family: "harry", serif;
        background-color: #D3A625;
        color: #fff;
        padding: 10px;
        text-align: center;
        position: fixed;
        bottom: 0;
        width: 100%; /* Ocupa toda a largura da tela */
        margin-top: auto; /* Define a margem superior como automática para garantir que o conteúdo não ultrapasse */
    }
}

@media screen and (max-width: 1091px) {
    .interface {
        max-width: 90%; /* Ajuste conforme necessário para a resolução de 1091px */
    }

    .topo-do-site h1 {
        font-size: 1.8em; /* Ajuste conforme necessário para a resolução de 1091px */
        padding: 30px; /* Ajuste conforme necessário para a resolução de 1091px */
    }

    .livro img {
        width: 100%; /* Ajuste conforme necessário para a resolução de 1091px */
        margin-top: 3em; /* Ajuste conforme necessário para o espaçamento desejado */
        margin-left: 0; /* Certifique-se de que não há margem à esquerda */
    }

    .livro .resumo {
        padding: 0.4em; /* Ajuste conforme necessário para a resolução de 1091px */
        font-size: 0.7em; /* Ajuste conforme necessário para a resolução de 1091px */
        top: -0.4em; /* Ajuste conforme necessário para a resolução de 1091px */
    }

    footer {
        margin-top: auto; /* Define a margem superior como automática para garantir que o conteúdo não ultrapasse */
    }
}


