@font-face {
    font-family: harry;
    src: url(HARRY__.TTF) format(true type);
}


* {
    font-family: "harry";
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-image: url(imagens/castelo.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100h;

}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.logo img {
    margin-top: 20px;
    width: 90px;
}

.flex {
    display: flex;
}


/*estilo do cabeçalho*/
header {
    padding: 2px 4%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between
}

header a {
    color: #eeeeee;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
    font-family:"harry", sans-serif; 

}

header nav.menu-desktop a:hover {
    color: #FFc500;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;
}

/*estilo do menu mobile*/
.btn-abrir-menu {
    display: none;
}

.btn-abrir-menu i {
    color: #FFc500;
    font-size: 40px;
}

.menu-mobile {
    background-color: #7f0909;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile.abrir-menu {
    width: 70%;
}

.menu-mobile.abrir-menu~.overlay-menu {
    display: block;
}

.menu-mobile .btn-fechar {
    padding: 20px 5%;
}

.menu-mobile .btn-fechar i {
    color: #FFc500;
    font-size: 30px;
}

.menu-mobile nav ul {
    text-align: right;
}

.menu-mobile nav ul li a {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav ul li a:hover {
    background-color: #FFc500;
    color: #000;
}

.overlay-menu {
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}



/*estilo topo do site */
section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site.flex {
    align-items: center;
    justify-content: center;
    gap: 90px;

}

.topo-do-site h1 {
    font-family: "harry", serif;
    color: #fff;
    font-size: 42px;
    line-height: 40px;

}

.topo-do-site h1 span {
    font-family: "harry", serif;
    color: #FFc500;
}


#textoFala {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 1s ease-in-out infinite alternate;
    height: 500px;
    margin-top: -30px;
    margin-left: 20px;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 40px;
    }
}

.topo-do-site p {
    color: #fff;
    margin: 40px 0px;
    padding-bottom: -20px;
}

.topo-do-site p span {
    color: #FFc500;
}

footer {
    font-family: "harry", serif;
    background-color: #D3A625;
    color: #fff;
    padding: 10px;
    text-align: center;
}


@media screen and (max-width: 1013px) {

    body {
        background-image: url(imagens/castelo.jpeg);
        background-size: cover;
        height: 100h;

    }

    /*classes gerais*/
    .flex {
        flex-direction: column;
    }


    /*cabecalho*/

    .menu-desktop,
    .btn-contato {
        display: none;
    }

    .logo img {
        margin-top: 20px;
        height: 80px;
    }

    /*topo do site*/
    section.topo-do-site .flex {
        gap: 40px;
    }

    .topo-do-site h1 {
        font-size: 30px;
        padding: 40px;
        margin-left: 50px;
        margin-top: -50px;
    }


    /*imagens*/
    .topo-do-site .img-topo-site img {
        position: relative;
        animation: flutuar 2s ease-in-out infinite alternate;
        height: 200px;
        margin-top: -30px;
        margin-left: 50px;

    }

    @keyframes flutuar {
        0% {
            top: 0;
        }

        100% {
            top: -10px;
        }
    }

    .btn-abrir-menu {
        display: block;
    }

    footer {
        background-color: #D3A625;
        color: #fff;
        padding: 10px;
        text-align: center;
        height: 60px;
    }
}